@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .backgraund_choose{
        height: 50px;
        width: auto;
        border-radius:25px;
        margin-right: 10px;
        background-color: rgba(0, 0, 0,0.5);
        display: inline-flex;
        cursor: pointer;
        border-color: transparent;
        border-width: 2px;
        padding: 5px;
        vertical-align: bottom;
        text-align: center;
        box-sizing: border-box;
    }
    .outline_sticker {
        position: absolute;
        background-attachment:local;
        -webkit-mask-position: center;
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        z-index: 0;
        margin: auto;
        border-radius: 15px;
    }
}
