@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        /* font-family: 'SegoeUI';  */
        color: white;
 
    }

}
@layer components{

    .backgraund_choose{
        height: 50px;
        width: auto;
        border-radius:25px;
        margin-right: 10px;
        background-color: rgba(0, 0, 0,0.5);
        display: inline-flex;
        cursor: pointer;
        border-color: transparent;
        border-width: 2px;
        padding: 5px;
        vertical-align: bottom;
        text-align: center;
        box-sizing: border-box;
    }
    .outline_sticker {
        position: absolute;
        background-attachment:scroll;
        -webkit-mask-position: center;
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        z-index: 0;
        margin: auto;
        border-radius: 15px;
    }

    .vote_button_main{
        @apply spt-w-[78px] spt-h-[28px]  spt-pl-[9px] spt-pr-[9px] spt-rounded-[5px] spt-flex spt-justify-center spt-items-center spt-space-x-[7px];
    }
    .isdragging *  {
        @apply !spt-select-none !spt-cursor-none !important;
    }
 
}
/* @font-face {
    font-family: 'SegoeUI'; 
    src: url('/SegoeUI.ttf'); 
    
    
} */