.backgraund_choose{
    height: 50px;
    width: auto;
    border-radius:25px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0,0.5);
    display: inline-flex;
    cursor: pointer;
    border-color: transparent;
    border-width: 2px;
    padding: 5px;
    text-align: center;
}
